extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        //- .masthead.clearfix
        //-   .inner
            //- h3.masthead-brand Cover
            //- nav
            //-   ul.nav.masthead-nav
            //-     li.active
            //-       a(href='/') Home
            //-     //- li
            //-     //-   a(href='#') Features
            //-     li
            //-       a(href='#') Contact
        .inner.cover
          img(src='/images/logo.png', class='img-responsive')
          h1.cover-heading Field of view
          p.lead
            | Заснемане и монтаж с най-висок клас дрон и техника.
          p.lead
            a.btn.btn-lg.btn-default(href='mailto:support@fov.bg') Свържете се с нас
        //- .mastfoot
        //-   .inner
        //-     p
        //-       a(href='mailto:support@fov.bg') support@fov.bg
